body {
    background: -webkit-linear-gradient(360deg, #6ed3c2 10%, rgb(195, 233, 162) 360%);
}

form {
    margin-top: 5%;
    margin-right: 3%;
    margin-left: 1%;
}
.btn {
    margin-top: 3%;
    background-color: gray;
    margin: 1% 1% 1% 1%;
}

div.card:hover {
    background: rgb(75, 31, 233);
    border: 1px rgb(240, 240, 240);
}

.img-fluid {
    height: 50%;
    width: 50%;
}

input {
    width: 30% !important;
}

#user-input {
    margin-left: -0.1%;
}

