form {
    margin-top: 5%;
    margin-right: 3%;
    margin-left: 1%;
}
.btn {
    margin-top: 3%;
    background-color: gray;
    margin: 1% 1% 1% 1%;
}

div.card:hover {
    background: rgb(75, 31, 233);
    border: 1px rgb(240, 240, 240);
}

.img-fluid {
    height: 50%;
    width: 50%;
}